@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
    .my-gradient {
        background: linear-gradient(
            to right,
            #FF5722
            #D81B7E
            #7C3AED

        );
    }
    .my-gradient-text {
        background: linear-gradient(
                   to right,
            #FF5722
            #D81B7E
            #7C3AED

        );
        background-clip: text;
        -webkit-background-clip: text ;
        color: transparent;
    }
}